html {
    font-size: 16px;
}


*,
*::after,
*::before {
    box-sizing: border-box;

}

body {
    margin: 0;
    color: white;
}

.emptyArea {
    height: 4rem;
}

.navBar {
    z-index: 2;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.262);
    display: flex;
    width: 100%;
    border-bottom: 2px solid white;
    height: 4rem;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 1.75rem 0 1.75rem;
    transition: 500ms;
}

.navBarScrolled {
    background: linear-gradient(to right, rgb(196,91,137), rgb(239,103,123), rgb(196,91,137));
}

.night .navBarScrolled {
    background: linear-gradient(to right, rgb(12, 65, 94), rgba(22, 119, 172, 0.996), rgb(12, 65, 94));
}





/* changing the column gap of navbar elements */
.navBar.game {
    justify-content: center;
    padding: 0;
    gap: 0.5rem;
}

/* changing max width of heading for game pages as they don't need as much space */
.game .heading {
    min-width: 9rem;
    max-width: 12rem;
}

/* 1 */
.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: fit-content;
    position: absolute;
    left: 5px;
}


#homeIcon {
    height: 2rem;
    width: 2rem;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 5px 5px 10px black;
}





/* Creating the night mode switch */
body {
    background-image: url(imagesMain/background_day.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    transition: 300ms;
}

body.night {
    background-image: url(imagesMain/background_night.jpg);

}

body.night .board {
    background-color: rgba(192, 192, 192, 0.308);
}

body.night .label {
    box-shadow: 3px 3px 25px 3px rgba(255, 255, 255, 0.268);
}

body.night .rules {
    box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.268);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked + .label {
    background: linear-gradient(to right, #000815, #082147,  #7D3FAC);
}

.checkbox:checked + .label .ball {
    transform: translateX(65%) rotate(180deg);

}

.label {
    background: url(imagesMain/dusk_switch.webp);
    background-size: cover;
    transition: 200ms linear;
    height: 2rem;
    width: 3rem;
    display: flex;
    align-items: center;
    border-radius: 3.5rem;
    padding: 5px;
    border: 2.5px solid white;
    box-shadow: 5px 5px 10px black;
}
.ball {
    position: absolute;
    height: 1.2rem;
    width: 1.2rem;
    border: 2px solid white;
    border-radius: 50%;
    padding: 0;
    background: url(imagesMain/yin-yang-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform 1000ms;
}
























/* 2 */
.heading {
    /* border: 2px solid black; */
    min-width: 13.2rem;
    max-width: auto;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}


/* 3 */
/* Styling the rules button */
.rules {
    height: 2rem;
    width: 4.5rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.181);
    border: 2.5px solid white;
    box-shadow: 3px 3px 9px black;
    opacity: 0.75;
}

.dropdown {
    position: relative;
    /* right: 27rem; */
}

.dropdownContent {
    background: rgba(0, 0, 0, 0.321);
    margin-top: 0.6rem;
    position: absolute;
    right: 0;
    top: calc(80% + 1rem);
    padding: 0.25rem;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0 black;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    font-size: 0.9rem;
    min-width: 23rem;
    transition: opacity 200ms, transform 200ms;
}

li {
    margin: 10px;
}
.dropdown.active > .rules + .dropdownContent {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown.active {
    text-shadow: 3px 2px 6px black;
    opacity: 1;
}




.rulesContainer {
    position: absolute;
    right: 5px;
}

















/* Fucking around with media queries */
/* Styling nav bar for devices with viewport less than 400px -- necessary as the options menu overlapped the heading*/
@media (max-width: 400px) {
    .navBar.home > .heading {
        margin-left: 5em;
    }
    .dropdownContent {
        min-width: 20rem;
    }
}
@media (min-width: 1000px) {
    #homeIcon {
        height: 3rem;
        width: 3rem;
        border: 2px solid white;
    }
    .checkbox:checked + .label .ball {
        transform: translateX(93%) rotate(180deg);
    }
    
    .label {
        height: 2.8rem;
        width: 5rem;
        padding: 5px;
    }

    .ball {
        height: 2.1rem;
        width: 2.1rem;
    }
    .heading {
        font-size: 175%;
    }



    .rules {
        font-size: 150%;
        height: 2.8rem;
        width: 6.75rem;
        border-radius: 1.5rem;
        border: 3.5px solid white;

    }

    .dropdownContent {
        font-size: 120%;
        min-width: 30rem;
    }

    
}



